apiVersion: kuttl.dev/v1beta1
kind: TestStep
metadata:
  name: install-airflow-db
timeout: 480
---
apiVersion: v1
kind: Secret
metadata:
  name: test-airflow-credentials
type: Opaque
stringData:
  adminUser.username: airflow
  adminUser.firstname: Airflow
  adminUser.lastname: Admin
  adminUser.email: airflow@airflow.com
  adminUser.password: airflow
  connections.secretKey: thisISaSECRET_1234
  connections.sqlalchemyDatabaseUri: postgresql+psycopg2://airflow:airflow@airflow-postgresql/airflow
{% if test_scenario['values']['executor'] == 'celery' %}
  connections.celeryResultBackend: db+postgresql://airflow:airflow@airflow-postgresql/airflow
  connections.celeryBrokerUrl: redis://:redis@airflow-redis-master:6379/0
{% endif %}
---
apiVersion: airflow.stackable.tech/v1alpha1
kind: AirflowCluster
metadata:
  name: airflow
spec:
  image:
{% if test_scenario['values']['airflow-latest'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['airflow-latest'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['airflow-latest'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['airflow-latest'] }}"
{% endif %}
    pullPolicy: IfNotPresent
  clusterConfig:
    loadExamples: true
    credentialsSecret: test-airflow-credentials
  webservers:
    roleConfig:
      listenerClass: external-unstable
    roleGroups:
      default:
        replicas: 1
        envOverrides: &envOverrides
          AIRFLOW_CONN_MINIO_CONN: "aws://minioAccessKey:minioSecretKey@/?endpoint_url=http%3A%2F%2Ftest-minio%3A9000"
          AIRFLOW__LOGGING__REMOTE_LOGGING: "True"
          AIRFLOW__LOGGING__REMOTE_BASE_LOG_FOLDER: s3://my-bucket/
          AIRFLOW__LOGGING__REMOTE_LOG_CONN_ID: minio_conn
{% if test_scenario['values']['executor'] == 'celery' %}
  celeryExecutors:
    roleGroups:
      default:
        replicas: 2
        envOverrides: *envOverrides
{% elif test_scenario['values']['executor'] == 'kubernetes' %}
  kubernetesExecutors:
    envOverrides: *envOverrides
{% endif %}
  schedulers:
    roleGroups:
      default:
        replicas: 1
        envOverrides: *envOverrides
