{%- set title="Stackable Operator for Apache Airflow" -%}
{%- set operator_name="airflow" -%}
{%- set related_reading_links=[] -%}

{% include "partials/borrowed/header.md.j2" %}
{% include "partials/borrowed/links.md.j2" %}

{% include "partials/main.md.j2" %}

{% include "partials/borrowed/footer.md.j2" %}

{% include "partials/borrowed/related_reading.md.j2" %}
