---
volumePermissions:
  enabled: false
  containerSecurityContext:
    runAsUser: auto

master:
  podSecurityContext:
{% if test_scenario['values']['openshift'] == 'true' %}
    enabled: false
{% else %}
    enabled: true
{% endif %}
  containerSecurityContext:
    enabled: false
  resources:
    requests:
      memory: "128Mi"
      cpu: "200m"
    limits:
      memory: "128Mi"
      cpu: "800m"

replica:
  replicaCount: 1
  podSecurityContext:
{% if test_scenario['values']['openshift'] == 'true' %}
    enabled: false
{% else %}
    enabled: true
{% endif %}
  containerSecurityContext:
    enabled: false
  resources:
    requests:
      memory: "128Mi"
      cpu: "100m"
    limits:
      memory: "128Mi"
      cpu: "400m"

auth:
  password: redis
