---
apiVersion: kuttl.dev/v1beta1
kind: TestAssert
metadata:
  name: test-airflow-webserver-health-check
timeout: 480
commands:
{% if test_scenario['values']['airflow-latest'].find(",") > 0 %}
  - script: kubectl exec -n $NAMESPACE test-airflow-python-0 -- python /tmp/health.py --airflow-version "{{ test_scenario['values']['airflow-latest'].split(',')[0] }}"
{% else %}
  - script: kubectl exec -n $NAMESPACE test-airflow-python-0 -- python /tmp/health.py --airflow-version "{{ test_scenario['values']['airflow-latest'] }}"
{% endif %}

