---
apiVersion: airflow.stackable.tech/v1alpha1
kind: AirflowCluster
metadata:
  name: airflow
spec:
  image:
    productVersion: 3.1.6
  clusterConfig:
    credentialsSecret: admin-user-credentials
    metadataDatabase:
      postgresql:
        host: airflow-postgresql
        databaseName: airflow
        credentialsSecret: postgresql-credentials
    volumes:
      - name: cm-dag # <3>
        configMap:
          name: cm-dag # <4>
    volumeMounts:
      - name: cm-dag # <5>
        mountPath: /dags/test_airflow_dag.py # <6>
        subPath: test_airflow_dag.py # <7>
  webservers:
    roleConfig:
      listenerClass: external-unstable
    roleGroups:
      default:
        envOverrides: &envOverrides
          AIRFLOW__CORE__DAGS_FOLDER: "/dags" # <8>
        replicas: 1
  celeryExecutors:
    ...
