# $NAMESPACE will be replaced with the namespace of the test case.
---
apiVersion: v1
kind: Secret
metadata:
  name: airflow-credentials
type: Opaque
stringData:
  adminUser.username: airflow
  adminUser.firstname: Airflow
  adminUser.lastname: Admin
  adminUser.email: airflow@airflow.com
  adminUser.password: airflow
  connections.secretKey: thisISaSECRET_1234
  connections.sqlalchemyDatabaseUri: postgresql+psycopg2://airflow:airflow@airflow-postgresql/airflow
---
apiVersion: v1
kind: Secret
metadata:
  name: airflow-keycloak1-client
stringData:
  clientId: airflow1
  clientSecret: R1bxHUD569vHeQdw
---
apiVersion: v1
kind: Secret
metadata:
  name: airflow-keycloak2-client
stringData:
  clientId: airflow2
  clientSecret: scWzh0D4v0GN8NrN
---
apiVersion: airflow.stackable.tech/v1alpha1
kind: AirflowCluster
metadata:
  name: airflow
spec:
  image:
{% if test_scenario['values']['airflow-latest'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['airflow-latest'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['airflow-latest'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['airflow-latest'] }}"
{% endif %}
    pullPolicy: IfNotPresent
  clusterConfig:
    authentication:
      - authenticationClass: keycloak1-$NAMESPACE
        oidc:
          clientCredentialsSecret: airflow-keycloak1-client
        userRegistrationRole: Admin
      - authenticationClass: keycloak2-$NAMESPACE
        oidc:
          clientCredentialsSecret: airflow-keycloak2-client
        userRegistrationRole: Admin
    credentialsSecret: airflow-credentials
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  webservers:
    roleConfig:
      listenerClass: external-unstable
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default:
        replicas: 1
  kubernetesExecutors:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
  schedulers:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default:
        replicas: 1
