---
apiVersion: v1
kind: Secret
metadata:
  name: admin-user-credentials
type: Opaque
stringData:
  adminUser.username: airflow
  adminUser.firstname: Airflow
  adminUser.lastname: Admin
  adminUser.email: airflow@airflow.com
  adminUser.password: airflow
---
apiVersion: v1
kind: Secret
metadata:
  name: postgresql-credentials
stringData:
  username: airflow
  password: airflow
---
apiVersion: v1
kind: Secret
metadata:
  name: redis-credentials
stringData:
  username: ""
  password: redis
---
apiVersion: airflow.stackable.tech/v1alpha1
kind: AirflowCluster
metadata:
  name: airflow
spec:
  image:
{% if test_scenario['values']['airflow'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['airflow'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['airflow'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['airflow'] }}"
{% endif %}
    pullPolicy: IfNotPresent
  clusterConfig:
    loadExamples: false
    credentialsSecret: admin-user-credentials
    metadataDatabase:
      postgresql:
        host: airflow-postgresql
        databaseName: airflow
        credentialsSecret: postgresql-credentials
  webservers:
    roleConfig:
      listenerClass: test-external-stable-$NAMESPACE
    config:
      resources:
        cpu:
          min: 1000m
          max: 2000m
        memory:
          limit: 2Gi
    roleGroups:
      default:
        replicas: 1
{% if test_scenario['values']['executor'] == 'celery' %}
  celeryExecutors:
    celeryResultBackend:
      postgresql:
        host: airflow-postgresql
        databaseName: airflow
        credentialsSecret: postgresql-credentials
    celeryBrokerUrl:
      redis:
        host: airflow-redis-master
        credentialsSecret: redis-credentials
    roleGroups:
      default:
        replicas: 1
{% elif test_scenario['values']['executor'] == 'kubernetes' %}
  kubernetesExecutors:
    config:
      resources:
        cpu:
          min: 100m
          max: 500m
        memory:
          limit: 1Gi
{% endif %}
  schedulers:
    config:
      resources:
        cpu:
          min: 1000m
          max: 2000m
        memory:
          limit: 1Gi
    roleGroups:
      default:
        replicas: 1
