---
apiVersion: kuttl.dev/v1beta1
kind: TestAssert
metadata:
  name: test-airflow-cluster
timeout: 1200
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: airflow-webserver-default
status:
  readyReplicas: 1
  replicas: 1
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: airflow-worker-resources-from-role
spec:
  template:
    spec:
      containers:
        - name: airflow
          resources:
            requests:
              cpu: 100m
              memory: 1Gi
            limits:
              cpu: "1"
              memory: 1Gi
        - name: metrics
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
        - name: vector
{% endif %}
status:
  readyReplicas: 1
  replicas: 1
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: airflow-worker-resources-from-role-group
spec:
  template:
    spec:
      containers:
        - name: airflow
          resources:
            requests:
              cpu: 200m
              memory: 2Gi
            limits:
              cpu: "2"
              memory: 2Gi
        - name: metrics
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
        - name: vector
{% endif %}
status:
  readyReplicas: 1
  replicas: 1
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: airflow-scheduler-default
status:
  readyReplicas: 1
  replicas: 1
