---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: test-runner
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: test-runner
{% if test_scenario['values']['openshift'] == 'true' %}
rules:
- apiGroups: ["security.openshift.io"]
  resources: ["securitycontextconstraints"]
  resourceNames: ["privileged"]
  verbs: ["use"]
{% endif %}
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: test-runner
subjects:
  - kind: ServiceAccount
    name: test-runner
roleRef:
  kind: Role
  name: test-runner
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
metadata:
  name: install-test-container
timeout: 300
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: test-runner
  labels:
    app: test-runner
spec:
  replicas: 1
  selector:
    matchLabels:
      app: test-runner
  template:
    metadata:
      labels:
        app: test-runner
    spec:
      serviceAccountName: test-runner
      securityContext:
        fsGroup: 1000
      containers:
        - name: test-runner
          image: docker.stackable.tech/stackable/testing-tools:0.2.0-stackable0.0.0-dev
          stdin: true
          tty: true
          resources:
            requests:
              memory: "128Mi"
              cpu: "512m"
            limits:
              memory: "128Mi"
              cpu: "1"
          volumeMounts:
            - name: tls
              mountPath: /stackable/tls
          env:
            - name: REQUESTS_CA_BUNDLE
              value: /stackable/tls/ca.crt
      volumes:
        - name: tls
          csi:
            driver: secrets.stackable.tech
            volumeAttributes:
              secrets.stackable.tech/class: tls
              secrets.stackable.tech/scope: pod
