---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
metadata:
  name: login
commands:
  - script: >
      kubectl cp
{% if test_scenario['values']['airflow'].startswith("2") %}
      41_check-authorization_2.py
{% else %}
      41_check-authorization_3.py
{% endif %}
      $NAMESPACE/test-runner-0:/stackable/check-authorization.py
