apiVersion: kuttl.dev/v1beta1
kind: TestStep
metadata:
  name: install-airflow-db
timeout: 480
commands:
  - script: |
      kubectl apply -n $NAMESPACE -f - <<EOF
      ---
      apiVersion: v1
      kind: Secret
      metadata:
        name: test-airflow-credentials
      type: Opaque
      stringData:
        adminUser.username: airflow
        adminUser.firstname: Airflow
        adminUser.lastname: Admin
        adminUser.email: airflow@airflow.com
        adminUser.password: airflow
        connections.secretKey: thisISaSECRET_1234
        connections.sqlalchemyDatabaseUri: postgresql+psycopg2://airflow:airflow@airflow-postgresql/airflow
{% if test_scenario['values']['executor'] == 'celery' %}
        connections.celeryResultBackend: db+postgresql://airflow:airflow@airflow-postgresql/airflow
        connections.celeryBrokerUrl: redis://:redis@airflow-redis-master:6379/0
{% endif %}
      ---
      apiVersion: v1
      kind: Secret
      metadata:
        name: airflow-with-ldap-bind-secret
        labels:
          secrets.stackable.tech/class: airflow-with-ldap-bind
      stringData:
        user: cn=admin,dc=example,dc=org
        password: admin
      ---
      apiVersion: airflow.stackable.tech/v1alpha1
      kind: AirflowCluster
      metadata:
        name: airflow
      spec:
        image:
{% if test_scenario['values']['airflow-latest'].find(",") > 0 %}
          custom: "{{ test_scenario['values']['airflow-latest'].split(',')[1] }}"
          productVersion: "{{ test_scenario['values']['airflow-latest'].split(',')[0] }}"
{% else %}
          productVersion: "{{ test_scenario['values']['airflow-latest'] }}"
{% endif %}
          pullPolicy: IfNotPresent
        clusterConfig:
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
          vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
          loadExamples: true
          credentialsSecret: test-airflow-credentials
          authentication:
            - authenticationClass: {% if test_scenario['values']['ldap-authentication'] == 'no-tls' -%}
              no-tls-$NAMESPACE
            {%- elif test_scenario['values']['ldap-authentication'] == 'insecure-tls' -%}
              insecure-tls-$NAMESPACE
            {%- elif test_scenario['values']['ldap-authentication'] == 'server-verification-tls' -%}
              server-tls-$NAMESPACE
            {%- endif %}

              userRegistrationRole: Admin
        webservers:
          roleConfig:
            listenerClass: external-unstable
          config:
            logging:
              enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
          roleGroups:
            default:
              replicas: 1
{% if test_scenario['values']['executor'] == 'celery' %}
        celeryExecutors:
          config:
            logging:
              enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
          roleGroups:
            default:
              replicas: 1
{% elif test_scenario['values']['executor'] == 'kubernetes' %}
        kubernetesExecutors:
          config:
            logging:
              enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
{% endif %}
        schedulers:
          config:
            # Sometimes the scheduler restarts randomly, which leads to timeouts in the LDAP celery integration test
            # metrics check. The metrics check cannot connect because the scheduler is restarting / terminating.
            # The metrics check python script runs a dag with every execution and therefore the scheduler can not
            # shut down gracefully and must be killed by Kubernetes.
            gracefulShutdownTimeout: 30s
            logging:
              enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
          roleGroups:
            default:
              replicas: 1
