---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
commands:
  - script: >-
      helm install airflow-postgresql
      --namespace $NAMESPACE
      --version 12.1.5
      --set auth.username=airflow
      --set auth.password=airflow
      --set auth.database=airflow
      --repo https://charts.bitnami.com/bitnami postgresql
    timeout: 240
  - script: >-
      helm install airflow-redis
      --namespace $NAMESPACE
      --version 17.3.7
      --set auth.password=redis
      --set replica.replicaCount=1
      --repo https://charts.bitnami.com/bitnami redis
    timeout: 240