# Not ideal way to test for a single env since partial comparison is not implemented yet in kuttl https://github.com/kudobuilder/kuttl/issues/76
# also the test might fail if the order of the envs isn't exactly as in the deployed StatefulSet
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: airflow-webserver-default
spec:
  template:
    spec:
      containers:
      - name: airflow
        env:
        - name: AIRFLOW__API__AUTH_BACKEND
        - name: AIRFLOW__CELERY__BROKER_URL
        - name: AIRFLOW__CELERY__RESULT_BACKEND
        - name: AIRFLOW__CORE__DAGS_FOLDER
        - name: AIRFLOW__CORE__EXECUTOR
        - name: AIRFLOW__CORE__LOAD_EXAMPLES
        - name: AIRFLOW__CORE__SQL_ALCHEMY_CONN
        - name: AIRFLOW__LOGGING__LOGGING_CONFIG_CLASS
        - name: AIRFLOW__METRICS__STATSD_HOST
        - name: AIRFLOW__METRICS__STATSD_ON
        - name: AIRFLOW__METRICS__STATSD_PORT
        - name: AIRFLOW__WEBSERVER__SECRET_KEY
        - name: PYTHONPATH
        - name: credentialsSecret
          value: test-override
      - name: metrics
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: airflow-scheduler-default
spec:
  template:
    spec:
      containers:
      - name: airflow
        env:
        - name: ADMIN_EMAIL
        - name: ADMIN_FIRSTNAME
        - name: ADMIN_LASTNAME
        - name: ADMIN_PASSWORD
        - name: ADMIN_USERNAME
        - name: AIRFLOW__API__AUTH_BACKEND
        - name: AIRFLOW__CELERY__BROKER_URL
        - name: AIRFLOW__CELERY__RESULT_BACKEND
        - name: AIRFLOW__CORE__DAGS_FOLDER
        - name: AIRFLOW__CORE__EXECUTOR
        - name: AIRFLOW__CORE__LOAD_EXAMPLES
        - name: AIRFLOW__CORE__SQL_ALCHEMY_CONN
        - name: AIRFLOW__LOGGING__LOGGING_CONFIG_CLASS
        - name: AIRFLOW__METRICS__STATSD_HOST
        - name: AIRFLOW__METRICS__STATSD_ON
        - name: AIRFLOW__METRICS__STATSD_PORT
        - name: AIRFLOW__WEBSERVER__SECRET_KEY
        - name: PYTHONPATH
        - name: credentialsSecret
          value: test-override
      - name: metrics