---
apiVersion: v1
kind: Secret
metadata:
  name: admin-user-credentials
type: Opaque
stringData:
  adminUser.username: airflow
  adminUser.firstname: Airflow
  adminUser.lastname: Admin
  adminUser.email: airflow@airflow.com
  adminUser.password: airflow
---
apiVersion: v1
kind: Secret
metadata:
  name: postgresql-credentials
stringData:
  username: airflow
  password: airflow
---
apiVersion: v1
kind: Secret
metadata:
  name: redis-credentials
stringData:
  username: ""
  password: redis
---
apiVersion: v1
kind: Secret
metadata:
  name: test-override
type: Opaque
stringData:
  adminUser.username: airflow
  adminUser.firstname: Airflow
  adminUser.lastname: Admin
  adminUser.email: airflow@airflow.com
  adminUser.password: airflow
---
apiVersion: airflow.stackable.tech/v1alpha1
kind: AirflowCluster
metadata:
  name: airflow-celery
spec:
  image:
{% if test_scenario['values']['airflow-latest'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['airflow-latest'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['airflow-latest'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['airflow-latest'] }}"
{% endif %}
    pullPolicy: IfNotPresent
  clusterConfig:
    loadExamples: true
    exposeConfig: false
    credentialsSecret: admin-user-credentials
    metadataDatabase:
      postgresql:
        host: airflow-postgresql
        databaseName: airflow
        credentialsSecret: postgresql-credentials
  webservers:
    roleConfig:
      listenerClass: external-unstable
    envOverrides:
      COMMON_VAR: role-value # overridden by role group below
      ROLE_VAR: role-value   # only defined here at role level
      credentialsSecret: test-override
    roleGroups:
      default:
        replicas: 1
        envOverrides:
          COMMON_VAR: group-value # overrides role value
          GROUP_VAR: group-value # only defined here at group level
  celeryExecutors:
    celeryResultBackend:
      postgresql:
        host: airflow-postgresql
        databaseName: airflow
        credentialsSecret: postgresql-credentials
    celeryBrokerUrl:
      redis:
        host: airflow-redis-master
        credentialsSecret: redis-credentials
    envOverrides:
      COMMON_VAR: role-value # overridden by role group below
      ROLE_VAR: role-value   # only defined here at role level
    roleGroups:
      default:
        replicas: 2
        config:
          resources:
            cpu:
              min: 410m
        podOverrides:
          spec:
            containers:
            - name: airflow
              resources:
                limits:
                  cpu: 810m
        envOverrides:
          COMMON_VAR: group-value # overrides role value
          GROUP_VAR: group-value # only defined here at group level
    config:
      resources:
        cpu:
          min: 400m
          max: 800m
        memory:
          limit: 3Gi
    podOverrides:
      spec:
        containers:
        - name: airflow
          resources:
            limits:
              cpu: 750m
            requests:
              cpu: 350m
  schedulers:
    roleGroups:
      default:
        replicas: 1
        envOverrides:
          credentialsSecret: test-override
