---
apiVersion: airflow.stackable.tech/v1alpha1
kind: AirflowCluster
metadata:
  name: airflow-kubernetes
spec:
  image:
{% if test_scenario['values']['airflow-latest'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['airflow-latest'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['airflow-latest'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['airflow-latest'] }}"
{% endif %}
  clusterConfig:
    loadExamples: true
    exposeConfig: false
    listenerClass: external-unstable
    credentialsSecret: airflow-credentials
  webservers:
    roleGroups:
      default:
        replicas: 1
        config:
          resources:
            cpu:
              min: 410m
        podOverrides:
          spec:
            containers:
            - name: airflow
              resources:
                limits:
                  cpu: 810m
    config:
      gracefulShutdownTimeout: 5s
      resources:
        cpu:
          min: 400m
          max: 800m
        memory:
          limit: 2Gi
    podOverrides:
      spec:
        containers:
        - name: airflow
          resources:
            limits:
              cpu: 750m
            requests:
              cpu: 350m
  kubernetesExecutors:
    config:
      gracefulShutdownTimeout: 5s
      resources:
        cpu:
          min: 400m
          max: 800m
        memory:
          limit: 2Gi
    podOverrides:
      spec:
        containers:
        - name: base
          resources:
            limits:
              cpu: 750m
    envOverrides:
      ROLE_VAR: role-value   # there are no role groups for kubernetes executors
      AIRFLOW__METRICS__STATSD_ON: "False" # also set by the operator
  schedulers:
    config:
      gracefulShutdownTimeout: 5s
    roleGroups:
      default:
        replicas: 1
