apiVersion: kuttl.dev/v1beta1
kind: TestStep
metadata:
  name: pause-airflow
timeout: 480
---
apiVersion: airflow.stackable.tech/v1alpha1
kind: AirflowCluster
metadata:
  name: airflow
spec:
  clusterOperation:
    reconciliationPaused: true
    stopped: false
