apiVersion: kuttl.dev/v1beta1
kind: TestStep
metadata:
  name: stop-airflow
timeout: 180
---
apiVersion: airflow.stackable.tech/v1alpha1
kind: AirflowCluster
metadata:
  name: airflow
spec:
  clusterOperation:
    reconciliationPaused: false
    stopped: true
